@-moz-keyframes slide-in {
  0% {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slide-in {
  0% {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-moz-keyframes slide-out {
  0% {
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes slide-out {
  0% {
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* line 25, main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: Open Sans, Helvetica;
}

/* line 34, main.scss */
main {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 44, main.scss */
.slider {
  width: 700px;
  height: 100%;
}

/* line 49, main.scss */
.slider {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 60, main.scss */
.slider-gallery {
  position: relative;
}

/* line 64, main.scss */
.gallery-wrapper {
  width: 500px;
  height: 500px;
  margin: 0;
  overflow: hidden;
}
/* line 70, main.scss */
.gallery-wrapper ul {
  margin: 0;
  padding: 0;
  width: 400%;
}
/* line 76, main.scss */
.gallery-wrapper li {
  list-style: none;
}

/* line 81, main.scss */
.gallery-image {
  float: left;
}

/* line 85, main.scss */
.gallery-arrow {
  position: absolute;
  top: 45%;
  width: 20px;
  height: 20px;
  background-color: black;
}
/* line 92, main.scss */
.gallery-arrow.next {
  right: -20px;
}
/* line 95, main.scss */
.gallery-arrow.prev {
  left: -20px;
}

/* line 100, main.scss */
.slider-nav {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 111, main.scss */
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 117, main.scss */
.nav-label {
  font-size: 10px;
  color: grey;
}

/* line 122, main.scss */
.nav-spacing {
  width: 1px;
  height: 20px;
  margin-right: 15px;
  margin-top: auto;
  background-color: grey;
}

/* line 130, main.scss */
.nav-dot {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  padding: 0;
  display: inline-block;
  border-radius: 10px;
  background-color: grey;
}
/* line 139, main.scss */
.nav-dot.select {
  background-color: black;
}
