/*

	Slider markup after Javascript buildout
	Use as reference when styling

	<div class="image-slider">
		<div class="slider-gallery">
			<div class="gallery-wrapper">
				<div class="gallery-holder">
					<img class="gallery-image" src="">
					<img class="gallery-image" src="">
					<img class="gallery-image" src="">
					<img class="gallery-image" src="">
				</div>
			</div>
			<div class="gallery-arrow next"></div>
			<div class="gallery-arrow prev"></div>
		</div>
		<div class="slider-nav">
			<div class="nav-list">
				<div class="nav-label">Final Work</div>
				<div class="nav-dot select"></div>
				<div class="nav-dot"></div>
			</div>
			<div class="nav-spacing"></div>
			<div class="nav-list">
				<div class="nav-label">Process Work</div>
				<div class="nav-dot"></div>
				<div class="nav-dot"></div>
			</div>
		</div>
	</div>

*/
/* line 48, _imageSlider.scss */
.image-slider {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 58, _imageSlider.scss */
.slider-gallery {
  position: relative;
  margin: 20px;
}

/* line 63, _imageSlider.scss */
.gallery-wrapper {
  margin: 0;
  overflow: hidden;
  max-width: 800px;
  height: auto;
}

/* line 70, _imageSlider.scss */
.gallery-holder {
  margin: 0;
  display: inline-flex;
}

/* line 75, _imageSlider.scss */
.gallery-image {
  height: 100%;
  object-fit: cover;
}

/* line 80, _imageSlider.scss */
.gallery-arrow {
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  background-size: cover;
  opacity: .6;
  -moz-transition: opacity, 0.5s;
  -o-transition: opacity, 0.5s;
  -webkit-transition: opacity, 0.5s;
  transition: opacity, 0.5s;
}
/* line 89, _imageSlider.scss */
.gallery-arrow.next {
  right: -50px;
  background-image: url("right.png");
}
/* line 93, _imageSlider.scss */
.gallery-arrow.next:hover {
  opacity: 1;
}
/* line 97, _imageSlider.scss */
.gallery-arrow.prev {
  left: -50px;
  background-image: url("left.png");
}
/* line 101, _imageSlider.scss */
.gallery-arrow.prev:hover {
  opacity: 1;
}

/* line 107, _imageSlider.scss */
.slider-nav {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 118, _imageSlider.scss */
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 124, _imageSlider.scss */
.nav-label {
  font-size: 10px;
  color: grey;
}

/* line 129, _imageSlider.scss */
.nav-spacing {
  width: 1px;
  height: 20px;
  margin-right: 15px;
  margin-top: auto;
  background-color: grey;
}

/* line 137, _imageSlider.scss */
.nav-dot {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  padding: 0;
  display: inline-block;
  border-radius: 10px;
  background-color: grey;
}
/* line 146, _imageSlider.scss */
.nav-dot.select {
  background-color: black;
}
/* line 150, _imageSlider.scss */
.nav-dot:hover {
  -moz-transition: color, 0.5s;
  -o-transition: color, 0.5s;
  -webkit-transition: color, 0.5s;
  transition: color, 0.5s;
  background-color: black;
}

/* line 4, main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: Open Sans, Helvetica;
}

/* line 13, main.scss */
main {
  margin-left: auto;
  margin-right: auto;
}
